#s-170502f8-f42c-43a0-8bea-544daa83903f > #backgroundBox {
  background-color: #D8A790;
  position: absolute;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f > #alignmentBox {
  position: relative;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Path_1 {
  position: absolute;
  width: 1186.06005859375px;
  height: 2.0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_1 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_2 {
  position: absolute;
  width: 62.56800079345703px;
  min-height: 46.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_2 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_3 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_4 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Image_1 {
  position: absolute;
  width: 55.0px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_5 {
  position: absolute;
  width: 202.71547135062838px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_5 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_5 span#rtr-s-Text_5_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_3 {
  position: absolute;
  width: 225.15966300079072px;
  min-height: 349.03811176415496px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #EFE7DD;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_5 {
  position: absolute;
  width: 225.15966300079094px;
  min-height: 349.03811176415496px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #EFE7DD;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_8 {
  position: absolute;
  width: 178.59318125297165px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_8 span {
  color: #764B36;
  text-align: center;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_8 span#rtr-s-Text_8_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_9 {
  position: absolute;
  width: 178.99446064076528px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_9 span {
  color: #764B36;
  text-align: center;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_9 span#rtr-s-Text_9_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Image_4 {
  position: absolute;
  width: 178.5931812529716px;
  height: 224.83318382066068px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Image_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Image_5 {
  position: absolute;
  width: 178.99446064076534px;
  height: 224.83318382066085px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Image_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Path_2 {
  position: absolute;
  width: 1186.06005859375px;
  height: 2.0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DM Serif Display_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_10 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'DM Serif Display_15.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_10 span#rtr-s-Text_10_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'DM Serif Display_15.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_11 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_11 span#rtr-s-Text_11_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_3 {
  position: absolute;
  width: 110.81171495751488px;
  min-height: 33.2435144872544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #EFE7DD;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_3 span {
  color: #AB7D66;
  text-align: center;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_3 span#rtr-s-Button_3_0 {
  color: #AB7D66;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_4 {
  position: absolute;
  width: 110.81171495751488px;
  min-height: 33.2435144872544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #EFE7DD;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_4 span {
  color: #AB7D66;
  text-align: center;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_4 span#rtr-s-Button_4_0 {
  color: #AB7D66;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_7 {
  position: absolute;
  width: 110.81171495751488px;
  min-height: 33.2435144872544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #D1774C;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_8 {
  position: absolute;
  width: 110.81171495751488px;
  min-height: 33.2435144872544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #D1774C;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_6 {
  position: absolute;
  width: 114.6337471217123px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_6 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Text_6 span#rtr-s-Text_6_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 input::-moz-placeholder {
  color: #82888C;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 input:-moz-placeholder {
  color: #82888C;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 {
  position: absolute;
  width: 89.37405395507812px;
  height: 22.625701537419218px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-170502f8-f42c-43a0-8bea-544daa83903f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}