#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 > #backgroundBox {
  background-color: #764B36;
  position: absolute;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 > #alignmentBox {
  position: relative;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Image_1 {
  position: absolute;
  width: 55.0px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Image_2 {
  position: absolute;
  width: 55.0px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_3 {
  position: absolute;
  width: 62.56800079345703px;
  min-height: 46.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Path_3 {
  position: absolute;
  width: 1186.06005859375px;
  height: 2.0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_8 {
  position: absolute;
  width: 1157.7599487304688px;
  min-height: 392.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Image_3 {
  position: absolute;
  width: 468.69532428356px;
  height: 258.95416666666733px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 #s-Image_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0265fdb0-89c6-4e46-9e16-9880368f72e2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}