#s-79f7658c-0b82-460d-8d7e-dee238de187c > #backgroundBox {
  background-color: #D8A790;
  position: absolute;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c > #alignmentBox {
  position: relative;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Path_1 {
  position: absolute;
  width: 1186.06005859375px;
  height: 2.0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_1 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_2 {
  position: absolute;
  width: 62.56800079345703px;
  min-height: 46.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_2 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_3 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_4 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Image_1 {
  position: absolute;
  width: 55.0px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_5 {
  position: absolute;
  width: 202.71547135062838px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_5 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_3 {
  position: absolute;
  width: 715.1317311146133px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F0E4DC;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_4 {
  position: absolute;
  width: 965.5637303211569px;
  min-height: 185.27806976038914px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F0E4DC;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Path_2 {
  position: absolute;
  width: 1186.06005859375px;
  height: 2.0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'DM Serif Display_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_8 span {
  color: #764B36;
  text-align: left;
  text-decoration: none;
  font-family: 'DM Serif Display_15.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_8 span#rtr-s-Text_8_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'DM Serif Display_15.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_9 {
  position: absolute;
  width: 378.4060058593748px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_9 span {
  color: #764B36;
  text-align: center;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_9 span#rtr-s-Text_9_0 {
  color: #764B36;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Path_4 {
  position: absolute;
  width: 81.11054992675781px;
  height: 42.172977447509766px;
  cursor: pointer;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_5 {
  position: absolute;
  width: 225.7818651605793px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F0E4DC;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_6 {
  position: absolute;
  width: 420.4700164794923px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_7 {
  position: absolute;
  width: 477.4730569675901px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_10 {
  position: absolute;
  width: 106.38955324444498px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_13 {
  position: absolute;
  width: 74.47001647949207px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_2 {
  position: absolute;
  width: 965.5637303211569px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F0E4DC;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_14 {
  position: absolute;
  width: 477.4730569675892px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_14 span#rtr-s-Text_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_15 {
  position: absolute;
  width: 465.47001647949196px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_17 {
  position: absolute;
  width: 151.41798383441198px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_18 {
  position: absolute;
  width: 138.83568655074248px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_19 {
  position: absolute;
  width: 122.25705736431826px;
  min-height: 74.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_20 {
  position: absolute;
  width: 159.08350372314442px;
  min-height: 37.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_21 {
  position: absolute;
  width: 106.38955324444498px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_22 {
  position: absolute;
  width: 74.47001647949207px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_1 {
  position: absolute;
  width: 965.5637303211569px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F0E4DC;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_23 {
  position: absolute;
  width: 249.47001647949173px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_16 {
  position: absolute;
  width: 666.4700164794915px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_24 {
  position: absolute;
  width: 806.6560325622552px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_25 {
  position: absolute;
  width: 151.41798383441198px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_25 span#rtr-s-Text_25_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_26 {
  position: absolute;
  width: 159.08350372314442px;
  min-height: 37.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_27 {
  position: absolute;
  width: 206.84148779733232px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_27 span#rtr-s-Text_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_28 {
  position: absolute;
  width: 124.73500823974592px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c #s-Text_28 span#rtr-s-Text_28_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Sorts Mill Goudy_15.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-79f7658c-0b82-460d-8d7e-dee238de187c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}